/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
	--header-height: 3.5rem;
	--nav-width: 219px;

	/*========== Colors ==========*/
	--first-color: #6923d0;
	--first-color-light: #f4f0fa;
	--title-color: #19181b;
	--text-color: #58555e;
	--text-color-light: #a5a1aa;
	--body-color: #f9f6fd;
	--container-color: #ffffff;
	--postcolor1: #a8a8a87c;
	--postcolor2: #999999d7;
	--container-color2: rgba(255, 150, 75, 1);

	/*========== Font and typography ==========*/
	--body-font: "Poppins", sans-serif;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.75rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== z index ==========*/
	--z-fixed: 100;
}

.darktheme {
	--body-color: #070707;
	--container-color: #414141;
	--text-color-light: #fafafa;
	--text-color: #d8d8d8;
	--first-color: #b17dff;
	--first-color-light: #181818;
	--title-color: #eae9eb;
	--postcolor1: #494949;
	--postcolor2: #333333;
}

@media screen and (min-width: 1024px) {
	:root {
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/*========== BASE ==========*/
*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: var(--header-height) 0 0 0;
	padding: 1rem 1rem 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*========== HEADER ==========*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--container-color2);
	box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
	padding: 0 1rem;
	z-index: var(--z-fixed);
}

.rightsec {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40%;
}

.header__container {
	display: flex;
	align-items: center;
	height: var(--header-height);
	justify-content: space-between;
}
#toggleimg {
	width: 35px;
	height: 35px;
	margin-left: 1rem;
	margin-right: 1rem;
}
#toggleimg:hover {
	cursor: pointer;
}
.logosec {
	display: flex;
	max-width: 50%;
	align-items: center;
	height: var(--header-height);
}
.logosec img {
	width: 60px;
	height: 60px;
}
.header__img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.header__logo {
	color: white;
	font-weight: var(--font-medium);
	display: none;
	font-size: 1.8rem;
}

.header__search {
	display: flex;
	padding: 0.4rem 0.75rem;
	background-color: var(--first-color-light);
	border-radius: 0.25rem;
}
.header__search i {
	color: var(--title-color);
}
.header__search i:hover {
	cursor: pointer;
}
.header__input {
	width: 100%;
	border: none;
	outline: none;
	background-color: var(--first-color-light);
}

.header__input::placeholder {
	font-family: var(--body-font);
	color: var(--text-color);
}

.header__icon,
.header__toggle {
	padding-left: 7px;
	text-align: center;
	font-size: 1.5rem;
}

.header__toggle {
	color: var(--title-color);
	cursor: pointer;
}

/*========== NAV ==========*/
.nav {
	position: fixed;
	top: 4rem;
	left: -100%;
	height: 93vh;
	padding: 1rem 1rem 0;
	background-color: var(--container-color);
	box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
	z-index: var(--z-fixed);
	transition: 0.4s;
}

.nav__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 3rem;
	overflow: auto;
	scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
	display: none;
}

.nav__logo {
	font-weight: var(--font-semi-bold);
	margin-bottom: 2.5rem;
}

.nav__list,
.nav__items {
	display: grid;
}

.nav__list {
	row-gap: 2.5rem;
}

.nav__items {
	row-gap: 1.5rem;
}

.nav__subtitle {
	font-size: var(--normal-font-size);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: var(--text-color-light);
}

.nav__link {
	display: flex;
	align-items: center;
	color: var(--text-color);
}

.nav__link:hover {
	color: var(--first-color);
}

.nav__icon {
	font-size: 1.2rem;
	margin-right: 0.5rem;
}

.nav__name {
	font-size: var(--small-font-size);
	font-weight: var(--font-medium);
	white-space: nowrap;
}

.nav__logout {
	margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
	overflow: hidden;
	max-height: 21px;
	transition: 0.4s ease-in-out;
}

.nav__dropdown-collapse {
	background-color: var(--first-color-light);
	border-radius: 0.25rem;
	margin-top: 1rem;
}

.nav__dropdown-content {
	display: grid;
	row-gap: 0.5rem;
	padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav__dropdown-item {
	font-size: var(--smaller-font-size);
	font-weight: var(--font-medium);
	color: var(--text-color);
}

.nav__dropdown-item:hover {
	color: var(--first-color);
}

.nav__dropdown-icon {
	margin-left: auto;
	transition: 0.4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
	max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
	transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
	left: 0;
}

/*===== Active link =====*/
.active {
	color: var(--first-color);
}

/* post section  */

.postsec {
	width: 80%;
}

#tagsec {
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
}

#tagsec::-webkit-scrollbar {
	display: none;
}
.wholetag {
	display: flex;
	align-items: center;
}

.tagele {
	height: 3rem;
	min-width: 2rem;
	/* margin: 0 1rem; */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	border-radius: 20px;
	font-weight: bold;
	color: rgb(4, 4, 124);
	border: rgba(224, 124, 56, 1) 2px solid;
}
.outerbox:nth-child(odd) .tagele:hover {
	background-color: rgb(252, 252, 252);
	color: rgba(224, 124, 56, 1);
	border: rgba(224, 124, 56, 1) 2px solid;
}
.outerbox:nth-child(even) .tagele:hover {
	background-color: rgb(252, 252, 252);
	color: rgba(224, 124, 56, 1);
	border: rgba(224, 124, 56, 1) 2px solid;
}
.outerbox {
	padding: 0 1rem;
}

.outerbox:nth-child(odd) .tagele {
	background-color: antiquewhite;
}
.outerbox:nth-child(even) .tagele {
	background-color: rgb(252, 173, 120);
}

#slideLeft img,
#slideRight img {
	height: 2.7rem;
	width: 4rem;
	opacity: 0.5;
}
#slideLeft img:hover,
#slideRight img:hover {
	opacity: 1;
	cursor: pointer;
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
	.header__search {
		width: 70%;
	}
}
@media screen and (max-width: 768px) {
	.header__img {
		display: none;
	}

	.header__search {
		width: 5rem;
	}
}

@media screen and (min-width: 768px) {
	body {
		padding: 1rem 3rem 0 6rem;
	}
	.header {
		padding: 0 3rem 0 6rem;
	}
	.header__container {
		height: calc(var(--header-height) + 0.5rem);
	}
	.header__search {
		width: 300px;
		padding: 0.55rem 0.75rem;
	}
	.header__toggle {
		display: none;
	}
	.header__logo {
		display: block;
	}
	.header__img {
		width: 40px;
		height: 40px;
		/* order: 1;     */
	}

	.nav {
		left: 0;
		padding: 1.2rem 1.5rem 0;
		width: 68px; /* Reduced navbar */
	}
	.nav__items {
		row-gap: 1.7rem;
	}
	.nav__icon {
		font-size: 1.3rem;
	}

	/* Element opacity */
	.nav__logo-name,
	.nav__name,
	.nav__subtitle,
	.nav__dropdown-icon {
		opacity: 0;
		transition: 0.3s;
	}
	.nav__logo-name {
		display: none;
	}

	/* Navbar expanded */
	.nav:hover {
		width: var(--nav-width);
	}

	/* Visible elements */
	.nav:hover .nav__logo-name {
		opacity: 1;
	}
	.nav:hover .nav__subtitle {
		opacity: 1;
	}
	.nav:hover .nav__name {
		opacity: 1;
	}
	.nav:hover .nav__dropdown-icon {
		opacity: 1;
	}
}

.postcontainer {
	display: flex;
	width: 100%;
	/* min-height:200rem ; */
	/* background-color: blue; */
	/* margin-top: 2rem; */
	margin-bottom: 2rem;
	flex-direction: column;
}

.postbox {
	width: 100%;

	border-radius: 20px;
	border: var(--title-color) 2px solid;
	margin-top: 2rem;

	padding: 1rem 1rem 0rem 1rem;
}
.postbox:nth-child(even) {
	background-color: var(--postcolor1);
}
.postbox:nth-child(odd) {
	background-color: var(--postcolor2);
}

.avtar {
	height: 5rem;
}

.postsec1 {
	display: flex;
	align-items: center;
}

.postsec2 {
	color: var(--title-color);
	font-weight: 400;
	margin-top: 1rem;
}
.name {
	font-size: 2rem;
	font-weight: bolder;
	color: var(--title-color);
}

.postfooter {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: var(--title-color) 2px solid;
}
.like {
	border-right: var(--title-color) 2px solid;
}
.like,
.comment {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.like img {
	height: 5rem;
}
.like label {
	display: flex;
	align-items: center;
}

#like {
	display: none;
}
.comment img {
	height: 5rem;
}
.bluetxt {
	color: rgb(1, 1, 95);
}
.like div,
.comment div {
	font-size: 2rem;
	font-weight: bolder;
	color: var(--title-color);
}
.like div,
.comment div,
.comment img,
.like img:hover {
	cursor: pointer;
}
